# Importing and preparing supermarkets data

## Libraries and settings

In [1]:
# Libraries
import os
import fnmatch
import pandas as pd

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

## Importing data

In [2]:
# Get current working directory
print('Current working directory:', os.getcwd())

# Show files in the directory
flist = fnmatch.filter(os.listdir('.'), '*.json')
for i in flist:
    print(i)

# Read the data to a pandas data frame
df1 = pd.read_json('supermarkets.json', encoding='utf-8')
df1.head(5)

Current working directory: u:\Lektionen\DA_HS2023\data_analytics\Week_02
supermarkets.json

,type,id,lat,lon,tags
0,node,33126515,47.155616,9.037915,"{'brand': 'Spar', 'brand:wikidata': 'Q610492',..."
1,node,36726161,47.226191,8.980329,"{'addr:city': 'Uznach', 'addr:housenumber': '2..."
2,node,39768209,47.225069,8.969981,"{'addr:city': 'Uznach', 'addr:postcode': '8730..."
3,node,39947904,47.376732,8.542161,"{'addr:city': 'Zürich', 'addr:country': 'CH', ..."
4,node,48932835,47.375020,8.522895,"{'addr:city': 'Zürich', 'addr:housenumber': '7..."

## Count number of rows and columns in the data frame

In [3]:
# Dimension (rows, columns)
print('Dimension:', df1.shape)

# Number of rows
print('Number of rows:', df1.shape[0])

# Number of columns
print('Number of columns:', df1.shape[1])

Dimension: (3260, 5)
Number of rows: 3260
Number of columns: 5

## Column 'tags' is a pandas Series with dictionaries -> change to data frame

In [4]:
# Type of the first item of column tags
print(type(df1.tags))
print(type(df1.tags[0]))

# Content of the first item of column tags
print(df1.tags[0].keys())

# Change to data frame
df2 = pd.DataFrame.from_records(df1.tags)
df2[['brand', 'shop', 'addr:city', 'addr:housenumber', 'addr:postcode', 'opening_hours']]


df2.rename(columns={"addr:city": "city"})

<class 'pandas.core.series.Series'>
<class 'dict'>
dict_keys(['brand', 'brand:wikidata', 'brand:wikipedia', 'name', 'opening_hours', 'shop'])

,brand,brand:wikidata,brand:wikipedia,name,opening_hours,shop,city,addr:housenumber,addr:postcode,addr:street,...,image,opening_date,room,zo_area,addr:city:de,addr:city:fr,payment:discover_card,trade,source:addr,postid
0,Spar,Q610492,en:SPAR (retailer),Spar,Mo-Th 08:00-19:00; Fr 08:00-20:00; Sa 08:00-17:00,supermarket,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Migros,Q680727,de:Migros,Migros,"Mo-Th 08:00-19:00, Fr 08:00-20:00, Sa 07:30-17...",supermarket,Uznach,25,8730,Zürcherstrasse,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Coop,Q432564,NaN,Coop,NaN,supermarket,Uznach,NaN,8730,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Coop,Q432564,de:Coop (Schweiz),Coop,Mo-Sa 06:00-22:00,supermarket,Zürich,1,8001,Bahnhofbrücke,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Migros,Q680727,de:Migros,Migros,Mo-Sa 08:00-21:00; PH off,supermarket,Zürich,7,8004,Wengistrasse,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255,Volg,Q2530746,NaN,Volg,"Mo-Fr 07:00-12:20,13:30-18:30; Sa 07:00-16:00",supermarket,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3256,Landi,Q1803010,NaN,Landi,Mo-Fr 08:00-18.30; Sa 08:00-17:00; PH off,supermarket,Rickenbach Sulz,1,8545,Stationsstrasse,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3257,VOI,Q110277616,NaN,VOI,NaN,supermarket,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3258,NaN,NaN,NaN,Denner,"Mo-Fr 09:00-19:00; Sa,Su 09:00-17:00; PH off",supermarket,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3259,NaN,NaN,NaN,L‘Angolo Bio,NaN,supermarket,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Merge df1 and df2

In [5]:
# Merge df and df2
df = pd.merge(df1[['type', 'id', 'lat', 'lon']], 
              df2[['brand', 'shop', 'addr:city', 'addr:housenumber', 'addr:postcode', 'opening_hours']], 
              left_index=True, 
              right_index=True)
df.head(5)

,type,id,lat,lon,brand,shop,addr:city,addr:housenumber,addr:postcode,opening_hours
0,node,33126515,47.155616,9.037915,Spar,supermarket,NaN,NaN,NaN,Mo-Th 08:00-19:00; Fr 08:00-20:00; Sa 08:00-17:00
1,node,36726161,47.226191,8.980329,Migros,supermarket,Uznach,25,8730,"Mo-Th 08:00-19:00, Fr 08:00-20:00, Sa 07:30-17..."
2,node,39768209,47.225069,8.969981,Coop,supermarket,Uznach,NaN,8730,NaN
3,node,39947904,47.376732,8.542161,Coop,supermarket,Zürich,1,8001,Mo-Sa 06:00-22:00
4,node,48932835,47.375020,8.522895,Migros,supermarket,Zürich,7,8004,Mo-Sa 08:00-21:00; PH off

In [6]:
df2 = df.rename(columns={"addr:city": "city"})
df2

,type,id,lat,lon,brand,shop,city,addr:housenumber,addr:postcode,opening_hours
0,node,33126515,47.155616,9.037915,Spar,supermarket,NaN,NaN,NaN,Mo-Th 08:00-19:00; Fr 08:00-20:00; Sa 08:00-17:00
1,node,36726161,47.226191,8.980329,Migros,supermarket,Uznach,25,8730,"Mo-Th 08:00-19:00, Fr 08:00-20:00, Sa 07:30-17..."
2,node,39768209,47.225069,8.969981,Coop,supermarket,Uznach,NaN,8730,NaN
3,node,39947904,47.376732,8.542161,Coop,supermarket,Zürich,1,8001,Mo-Sa 06:00-22:00
4,node,48932835,47.375020,8.522895,Migros,supermarket,Zürich,7,8004,Mo-Sa 08:00-21:00; PH off
...,...,...,...,...,...,...,...,...,...,...
3255,node,9963973121,47.321761,9.426943,Volg,supermarket,NaN,NaN,NaN,"Mo-Fr 07:00-12:20,13:30-18:30; Sa 07:00-16:00"
3256,node,9974889755,47.535375,8.787090,Landi,supermarket,Rickenbach Sulz,1,8545,Mo-Fr 08:00-18.30; Sa 08:00-17:00; PH off
3257,node,9975876019,46.011774,8.965955,VOI,supermarket,NaN,NaN,NaN,NaN
3258,node,9978766657,47.424524,7.126737,NaN,supermarket,NaN,NaN,NaN,"Mo-Fr 09:00-19:00; Sa,Su 09:00-17:00; PH off"
3259,node,9979931913,46.010662,8.856326,NaN,supermarket,NaN,NaN,NaN,NaN

## Count and identify the number of missing values (if any)

In [7]:
# Count missing values
print(pd.isna(df).sum())

# Identify rows with missing values, e.g.:
df.loc[pd.isna(df['addr:city'])]

type                   0
id                     0
lat                    0
lon                    0
brand               1246
shop                   0
addr:city           1808
addr:housenumber    1702
addr:postcode       1733
opening_hours       1435
dtype: int64

,type,id,lat,lon,brand,shop,addr:city,addr:housenumber,addr:postcode,opening_hours
0,node,33126515,47.155616,9.037915,Spar,supermarket,NaN,NaN,NaN,Mo-Th 08:00-19:00; Fr 08:00-20:00; Sa 08:00-17:00
5,node,60271452,47.406671,9.305450,NaN,supermarket,NaN,NaN,NaN,NaN
6,node,70656485,47.491253,8.733981,NaN,supermarket,NaN,NaN,NaN,NaN
10,node,81321513,47.532917,9.066408,Landi,supermarket,NaN,NaN,NaN,"Mo-Sa 08:00-12:00, 13:30-18:00"
13,node,95582038,47.050385,9.059214,NaN,supermarket,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3253,node,9947587529,47.000852,8.611420,NaN,supermarket,NaN,NaN,NaN,NaN
3255,node,9963973121,47.321761,9.426943,Volg,supermarket,NaN,NaN,NaN,"Mo-Fr 07:00-12:20,13:30-18:30; Sa 07:00-16:00"
3257,node,9975876019,46.011774,8.965955,VOI,supermarket,NaN,NaN,NaN,NaN
3258,node,9978766657,47.424524,7.126737,NaN,supermarket,NaN,NaN,NaN,"Mo-Fr 09:00-19:00; Sa,Su 09:00-17:00; PH off"
3259,node,9979931913,46.010662,8.856326,NaN,supermarket,NaN,NaN,NaN,NaN

## Count and identify duplicated values (if any)

In [8]:
# Count duplicated values
print(df.duplicated().sum())

# Identify rows with duplicated values, e.g.:
df[df[['id']].duplicated()]

0

Empty DataFrame
Columns: [type, id, lat, lon, brand, shop, addr:city, addr:housenumber, addr:postcode, opening_hours]
Index: []

## Get data types of all variables

In [9]:
# Get data types (note that in pandas, a string is referred to as 'object')
df.dtypes

type                 object
id                    int64
lat                 float64
lon                 float64
brand                object
shop                 object
addr:city            object
addr:housenumber     object
addr:postcode        object
opening_hours        object
dtype: object

### Save data to file

In [10]:
df.to_csv('supermarkets_data_prepared.csv', 
          sep=",", 
          encoding='utf-8',
          index=False)

### Jupyter notebook --footer info-- (please always provide this at the end of each submitted notebook)

In [11]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
NT
Windows | 10
Datetime: 2023-08-21 16:19:57
Python Version: 3.10.12
-----------------------------------